/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex; 
}

.botao-contato button{
    padding: 10px 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color:#9032bb;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #c55bd0
}

button:hover, form .botao-enviar input:hover{
    box-shadow: 0px 0px 8px #9032bb;
    transform: scale(1.1);
}


/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #71338a;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.1);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;

}

button:hover{
    box-shadow: 0px 0px 8px #9032bb;
    transform: scale(1.1);
}

/* ESTILO DO BOTÃO PARA VOLTAR AO TOPO */
#scrollToTopBotao {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #c55bd0;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

#scrollToTopBotao.show {
    opacity: 1;
    visibility: visible;
}

#scrollToTopBotao i {
    font-size: 24px;
}


/* ESTILO DO MENU MOBILE */
.botao-abrir-menu{
    color: #c55bd0;
    font-size: 45px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .3s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.botao-abrir-menu ~.overlay-menu{
    display: block;
}

.menu-mobile .botao-fechar{
    padding: 20px 5%;
}

.menu-mobile .botao-fechar i{
    color: #c55bd0;
    font-size: 30px
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #c55bd0;
    color: #000;
}

.overlay-menu{
    background-color: #000000c4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #c55bd0
}

.exclamacao{
    font-size: 60px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
    text-align: justify;
}
.topo-do-site .img-topo-site{
    flex: 0 0 auto;
}

.topo-do-site .img-topo-site img{
    width: 300px;
    height: auto;
}

/* ESTILO DA ESPECIALIDADES */
section.especialidades{
    background-color: #f6e3f8fd;
    box-shadow: 0 0 20px 2px #c55bd0;
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px #c55bd0;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #c55bd0
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box p{
    text-align: justify;

}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 40px 4%;
    box-shadow: 0 0 20px 2px #c55bd0;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #c55bd0;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.botao-midia button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:#c55bd0;
    font-size: 22px;
    cursor: pointer;
    color: #fff; 
    margin: 0 10px;
    transition: .2s;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio{
    background-color: #f6e3f8fd;
    padding: 80px 4%;
    box-shadow: 0 0 3px 10px #c55bd0;
}

section.portfolio .flex{
    gap: 80px;
    margin-top: 60px;
}

.img-portfolio{
    width: 360px;
    height: 460px;
    background-color: #c55bd0;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-portfolio:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#241441b0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    max-height: 200px;
    resize: none;
}

form input::placeholder{
    color: #c1b5c2e1;
}

form textarea::placeholder{
    color: #c1b5c2e1;
}

form textarea{
    resize: none;
    min-height: 200px;
}

form .botao-enviar{
    margin-top: 20px;
    text-align: center;
}

form .botao-enviar input[type=submit]{
    width: 120px;
    background-color: #c55bd0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 20px 2px #c55bd0;
}

footer .flex{
    justify-content: space-between;    
}

footer .line-footer{
    padding: 20px 0;
    border-bottom: 2px solid;
}

footer .line-footer p i{
    color: #c55bd0;
    font-size: 22px;
}

.borda{
    border-top: 2px solid #c55bd0;

}
footer .line-footer p a{
    color: #fff;
    margin: 10px;
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 1000px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 32px;
        line-height: 30px;
    }

    /* CABEÇALHO: */
    .menu-desktop, .botao-contato{
        display: none;
    }

    /* TOPO DO SITE: */
    .section.topo-do-site{
        padding: 20px 8%;
    }

    .section.topo-do-site .flex{
        gap: 40px;
    }

    .topo-do-site h1{
        font-size: 34px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* ESPECIALIDADES: */
    section.especialidades{
        padding: 40px 8%;
    }

    /* SOBRE: */
    section.sobre{
        padding: 80px 8%;
    }

    .section .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .botao-midia{
        text-align: center;
    }
 
    .botao-midia button{
        width: 50px;
        height: 50px;
        font-size: 18px;
    }

    .img-sobre img{
        width: 100%;
    }
   
    /* PORTFÓLIO: */
    section.portfolio{
        padding: 80px 8%;
    }

    .img-portfolio{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /* RODAPÉ: */
    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }
}


/* ESTILOS PARA TELAS MENORES QUE 1000px */
@media (min-width: 0px) and (max-width: 1019px) {
    .botao-abrir-menu {
        display: block; /* Mostra o ícone do menu */
    }
    .menu-desktop {
        display: none; /* Esconde o menu desktop */
    }
}

/* ESTILOS PARA TELAS MAIORES OU IGUAIS A 1000px */
@media (min-width: 1020px) {
    .botao-abrir-menu {
        display: none; /* Esconde o ícone do menu */
    }
    .menu-desktop {
        display: block; /* Mostra o menu desktop */
    }
}
